
body{
background: #000 url(Pictures/icons.jpg);
font-size: large;

}

.main_navbar{
 font-size: 30px;
}
.index_news{
 background-color: #eee;

    color: #666;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.nb{
display: block;
}

.bt{
 background-color:DodgerBlue;
 }
 form{
 background-color: white
}

.buttonEnter {
    height:100%;
    width:100%;
    color:White;
    background-color:DodgerBlue;
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */
}

.myClass{
position:relative;
animation-name: image_news;
animation-duration: 2s;
}
 @keyframes  image_news{
 0%{
 left:0px;
 }
 50%{
 left:550px;
 }
 100%{
  left:0px;
  }
 }

 .NewsCenterText{
 text-align:center;
 text-color: white;
 font-size: 30px;

 }

.TextNews{
color:red;
}